<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body>
<center style="padding-top: 100px;">
    <form action="">
        <fieldset style="width: fit-content; padding: 5px;  background: linear-gradient(45deg,lightgreen,lightblue,skyblue);">
            <legend>
                Registation form....
            </legend>
            <table>
                <tr>
                    <td>
                        <div>
                            <label for="name">User name:</label>
                            <input type="text" placeholder="enter name"> 
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label for="name">father name:</label>
                            <input type="text" placeholder="enter father name">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label for="name">date of brith:</label>
                            <input type="date" name="" id="">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label for="">password:</label>
                            <input type="password" placeholder="enter strong password">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label for="">conform password:</label>
                            <input type="password" placeholder="enter strong password">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label for="">Gender :</label>
                            <input type="radio" name="gender" id="">Male
                            <input type="radio" name="gender" id="">Female
                            <input type="radio" name="gender" id="">Others
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label for="">Mobile no :</label>
                            <input type="number" name="Mobile no" placeholder="Enter 10 digts mobile number">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <input type="file" >
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <input type="submit" name="" id="">
                            <input type="reset" name="" id="">
                        </div>
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
</center>   
</body>
</html>